# System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------

/public/media/*
!/public/media/index.html

# Lock files
# ---------------

.lock

# Editors
# (sensitive workspace files)
# ---------------------------
*.sublime-workspace
/.vscode
/.idea

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Accounts
# ---------------

/data/storage/accounts/*
!/data/storage/accounts/.gitkeep

# Cache Files
# ---------------

/data/runtime/cache/*
!/data/runtime/cache/.gitkeep

# Composer files
# ---------------

/vendor

# License
# ---------------

/data/storage/.license

# Logs
# ---------------

/data/runtime/logs/*
!/data/runtime/logs/.gitkeep

# Sessions
# ---------------

/data/runtime/sessions/*
!/data/runtime/sessions/.gitkeep
