* {
  box-sizing: border-box;
}

/* webfont ***********************************************************************/

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather-Regular.ttf');
}

/* /end webfont  *****************************************************************/

body {
  margin: 0;
  padding: 0;

}

html, body {
  height: 100%;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
  background-color: var(--default-background);
  color: var(--default-foreground);
}


/* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
a {
  word-break: break-word;
}

/* sticky footer *****************************************************************/
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

main {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}

footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}


body > footer {
  background: #414a4c;
  color: #beb5b3;
  min-height: 30vh;
  padding-top: var(--space-s)
}

/* /end sticky footer *****************************************************************/


/***
                                                                                                  88
  ,d                                                                                              88
  88                                                                                              88
MM88MMM  8b       d8  8b,dPPYba,    ,adPPYba,    ,adPPYb,d8  8b,dPPYba,  ,adPPYYba,  8b,dPPYba,   88,dPPYba,   8b       d8
  88     `8b     d8'  88P'    "8a  a8"     "8a  a8"    `Y88  88P'   "Y8  ""     `Y8  88P'    "8a  88P'    "8a  `8b     d8'
  88      `8b   d8'   88       d8  8b       d8  8b       88  88          ,adPPPPP88  88       d8  88       88   `8b   d8'
  88,      `8b,d8'    88b,   ,a8"  "8a,   ,a8"  "8a,   ,d88  88          88,    ,88  88b,   ,a8"  88       88    `8b,d8'
  "Y888      Y88'     88`YbbdP"'    `"YbbdP"'    `"YbbdP"Y8  88          `"8bbdP"Y8  88`YbbdP"'   88       88      Y88'
             d8'      88                         aa,    ,88                          88                            d8'
            d8'       88                          "Y8bbdP"                           88                           d8'
*/

p {
  margin: 0;
  padding: 0;
}

.large_text p {
  font-size: var(--step-1);
}

.super_large_text p {
  font-size: var(--step-4);
}

.small_text p {
  font-size: var(--step--1);
}

.super_small_text p {
  font-size: var(--step--2);
}


.block-text p + p {
  margin-top: 1.5rem;
}

a {
  color: var(--color, #111111);
}

a:visited {
  color: var(--color, #111111);
}

.block-image figure a {
  display: block;
  text-decoration: none;
}

.block-image figure a:hover figcaption {
  text-decoration: underline;
}

.block-image img {
  transition: 340ms transform ease-in-out;
  display: block;
}

.block-image .img-wrapper {
}

.block-image figure a:hover img {
  transform: scale(1.02);
}

.block.block-text + .block.block-heading {
  margin-top: calc(3 * var(--block-spacing));
}


h1, h2, h3, h4, h5, h6,
.looks-like-h1,
.looks-like-h2,
.looks-like-h3,
.looks-like-h4,
.looks-like-h5,
.looks-like-h6 {
  font-family: 'Merriweather';
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 1;
  hyphens: manual;
  text-wrap: balance;
}

h1,
.looks-like-h1 {
  font-size: var(--step-5);
  line-height: 1;
}

h2,
.looks-like-h2 {
  font-size: var(--step-4);
}

h3,
.looks-like-h3 {
  font-size: var(--step-3);
}

h4,
.looks-like-h4 {
  font-size: var(--step-2);
}

h5,
.looks-like-h5 {
  font-size: var(--step-1);
}

h6,
.looks-like-h6 {
  font-size: var(--step-0);
}

.looks-like-h0 {
  font-size: var(--step-6);
}

.looks-like-h00 {
  font-size: var(--step-8);
}

.looks-like-h000 {
  font-size: var(--step-10);
}

@media (min-width: 900px) {
  .col:has(.sticky-headline) {
    position: sticky;
    top: 40vh;
    z-index: 998;
  }
}


/* accordion block */
.accordion {
  width: 100%;
  overflow: hidden;
  border-top: 1px solid currentColor;
}

.accordion__intro {
  position: relative;
  padding: 20px 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion__content {
  max-height: 0;
  overflow: hidden;
  will-change: max-height;
  transition: all 0.25s ease-out;
  opacity: 0;
}

.accordion h4,
.accordion p {
  margin: 0;
  line-height: 1;
}

.accordion span {
  font-weight: bold;
  max-width: calc(100% - 55px);
}

.accordion p {
  margin: 0;
  padding-bottom: 20px;
}

.accordion__active .accordion__content {
  opacity: 1;
}

.accordion__intro:after {
  content: "+";
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid currentColor;
  border-radius: 9999px;
  line-height: 20px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.accordion__intro:after {
  content: "-";
}


.noscript {
  text-decoration: none;
}


.noscript h1 {
  z-index: 9999;
  background: red;
  color: white;
  padding: 1rem;
  max-width: 600px;
  margin: 0 auto;
  font-size: 1rem;
}

.noscript:visited h1 {
  display: none;
}
