* {
  box-sizing: border-box;
}

/* webfont ***********************************************************************/

@font-face{
 font-family: 'Merriweather';
 src: url('../fonts/Merriweather-Regular.ttf');  }
/* /end webfont  *****************************************************************/

body {
  margin: 0;
  padding: 0;

}

html, body {
  height: 100%;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

/* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
a {
  word-break: break-word;
}

/* sticky footer *****************************************************************/
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

main {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}

footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}


body > footer {
  background: #414a4c;
  color: #beb5b3;
  min-height:30vh;
  padding-top: var(--space-s)
}
/* /end sticky footer *****************************************************************/


/***
                                                                                                  88
  ,d                                                                                              88
  88                                                                                              88
MM88MMM  8b       d8  8b,dPPYba,    ,adPPYba,    ,adPPYb,d8  8b,dPPYba,  ,adPPYYba,  8b,dPPYba,   88,dPPYba,   8b       d8
  88     `8b     d8'  88P'    "8a  a8"     "8a  a8"    `Y88  88P'   "Y8  ""     `Y8  88P'    "8a  88P'    "8a  `8b     d8'
  88      `8b   d8'   88       d8  8b       d8  8b       88  88          ,adPPPPP88  88       d8  88       88   `8b   d8'
  88,      `8b,d8'    88b,   ,a8"  "8a,   ,a8"  "8a,   ,d88  88          88,    ,88  88b,   ,a8"  88       88    `8b,d8'
  "Y888      Y88'     88`YbbdP"'    `"YbbdP"'    `"YbbdP"Y8  88          `"8bbdP"Y8  88`YbbdP"'   88       88      Y88'
             d8'      88                         aa,    ,88                          88                            d8'
            d8'       88                          "Y8bbdP"                           88                           d8'
*/

p {
  margin: 0;
  padding: 0;
}

.large_text p {
  font-size: var(--step-1);
}

.super_large_text p {
  font-size: var(--step-4);
}

.small_text p {
  font-size: var(--step--1);
}

.super_small_text p {
  font-size: var(--step--2);
}


.block-text p + p {
  margin-top: 1.5rem;
}

a {
  color: var(--color, #111111);
}

a:visited {
  color: var(--color, #111111);
}

.block-image figure a {
  display: block;
  text-decoration: none;
}

.block-image figure a:hover figcaption {
  text-decoration: underline;
}

.block-image img {
  transition: 340ms transform ease-in-out;
  display: block;
}

.block-image .img-wrapper {
}

.block-image figure a:hover img {
  transform: scale(1.02);
}

.block.block-text + .block.block-heading {
  margin-top: calc(3 * var(--block-spacing));
}


h1, h2, h3, h4, h5, h6,
.looks-like-h1,
.looks-like-h2,
.looks-like-h3,
.looks-like-h4,
.looks-like-h5,
.looks-like-h6 {
  font-family: 'Merriweather';
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 1;
  hyphens: manual;
  text-wrap: balance;
}

h1,
.looks-like-h1 {
  font-size: var(--step-5);
  line-height: 1;
}

h2,
.looks-like-h2 {
  font-size: var(--step-4);
}

h3,
.looks-like-h3 {
  font-size: var(--step-3);
}

h4,
.looks-like-h4 {
  font-size: var(--step-2);
}

h5,
.looks-like-h5 {
  font-size: var(--step-1);
}

h6,
.looks-like-h6 {
  font-size: var(--step-0);
}

.looks-like-h0 {
  font-size: var(--step-6);
}

.looks-like-h00 {
  font-size: var(--step-8);
}

.looks-like-h000 {
  font-size: var(--step-10);
}

@media (min-width: 900px) {
  .col:has(.sticky-headline) {
    position: sticky;
    top: 40vh;
    z-index: 998;
  }
}


/*** <header></header>
 *
 *    88                                            88
 *    88                                            88
 *    88                                            88
 *    88,dPPYba,    ,adPPYba,  ,adPPYYba,   ,adPPYb,88   ,adPPYba,  8b,dPPYba,
 *    88P'    "8a  a8P_____88  ""     `Y8  a8"    `Y88  a8P_____88  88P'   "Y8
 *    88       88  8PP"""""""  ,adPPPPP88  8b       88  8PP"""""""  88
 *    88       88  "8b,   ,aa  88,    ,88  "8a,   ,d88  "8b,   ,aa  88
 *    88       88   `"Ybbd8"'  `"8bbdP"Y8   `"8bbdP"Y8   `"Ybbd8"'  88
 *
 *
 */

header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 999;
  transition: box-shadow 140ms ease-in-out;
  height: var(--header-height);
  display: flex;
  align-items: center;
  padding: var(--step-0);
}

header a {
  text-decoration:none;
}

header .content-wrapper {
  display:flex;
  gap: 3rem;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  font-family: 'Merriweather';
  font-size: 150%;
}

@media (min-width: 1025px) {
  header.scrolled {
    background-color: white;
  }

  header.scrolled,
  header.scrolled .logo {
    box-shadow: 0px 7px 9px #00000029;
  }
}


header nav {
  display:flex;
  gap: 20px;
}

/* mobile */


#main-menu { display:none;}
  header label#menu-button {
    display: none;
  }
@media screen and (max-width: 768px) {

  header nav {
    opacity: 0;
    border: 1px solid #dddddd;

    overflow: hidden;
    background: white;
    position: absolute;
    display: flex;
    right: 20px;
    top: 50px;
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem;
    border-radius: 5px;
    transition: 240ms ease-in-out opacity;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  }

  #main-menu:checked ~ nav {
    opacity: 1;
  }

  header label#menu-button {
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    border: 1px solid #dddddd;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    position: sticky;
    display: flex;
    gap: 0.5rem;
  }

  header label#menu-button span.menu-text {
    line-height: 1;
  }

  .visually-hidden {
    position: absolute;
    left: -100vw;

    /* Note, you may want to position the checkbox over top the label and set the opacity to zero instead. It can be better for accessibilty on some touch devices for discoverability. */
  }
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  height: 1rem;
}


  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #000; }

.hamburger-box {
  width: 1rem;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  margin-top: -9px; }

  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 1rem;
    background-color: #000;
    position: absolute;
    height:1px;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }

  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block;
      height: 1.5px;
}
  .hamburger-inner::before {
    top: -6px; }
  .hamburger-inner::after {
    bottom: -6px; }

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
  .hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
  .hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }


/* accordion block */
.accordion {
  width: 100%;
  overflow: hidden;
  border-top: 1px solid currentColor;
}
.accordion__intro {
  position: relative;
  padding: 20px 0 ;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordion__content {
  max-height: 0;
  overflow: hidden;
  will-change: max-height;
  transition: all 0.25s ease-out;
  opacity: 0;
}
.accordion h4,
.accordion p {
  margin: 0;
  line-height: 1;
}

.accordion span {
  font-weight: bold;
  max-width: calc(100% - 55px);
}

.accordion p {
  margin: 0;
  padding-bottom: 20px;
}
.accordion__active .accordion__content {
  opacity: 1;
}

.accordion__intro:after {
  content: "+";
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px solid currentColor;
  border-radius: 9999px;
  line-height:20px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.accordion__intro:after {
  content: "-";
}
